@import "../../assert/colors.scss";

.radioStyles {
    .ant-radio-checked .ant-radio-inner {
        border-color: $primaryText;
    }
    .ant-radio-inner {
        width: 20px;
        height: 20px;
        border: 2px solid #d7d7d7;
        &::after {
            width: 18px;
            height: 18px;
            transform: scale(0.62) !important;
            margin-top: -9px;
            margin-left: -9px;
            background-color: $primaryText;
        }
    }
    input {
        &:focus {
            outline-color: $primaryText;
            border: 1px solid $primaryText;
        }
    }
    .ant-radio-input:focus + .ant-radio-inner {
        border-color: $primaryText;
        box-shadow: 0 0 0 3px $white;
    }
    > span:nth-child(2) {
        font-size: 15px;
        // font-weight: 600;
        position: relative;
        bottom: 1px;    
    }
}
