@import "../../assert/colors.scss";

.textAreaContainer {
    margin: 10px 0;
    display: grid;
    position: relative;
    label {
        // font-size: 18px;
        font-weight: 600;
        padding: 10px 0 4px 0;
    }
    textarea {
        resize: none;
        border: 2px solid #d7d7d7;
        background-color: #f0f0f0;
        // font-size: 16px;
        border-radius: 4px;
        padding: 0 10px;
        &:focus-visible {
            outline-color: $primaryText;
        }
    }
}

.fieldReqired {
    textarea {
        border-color: $errorMsg;
        &:focus-visible {
            outline-color: $errorMsg;
        }
    }
}

.requiredSymbol {
    color: $red;
}

.errMsg {
    color: $errorMsg;
    position: absolute;
    bottom: -23px;
    display: flex;
    align-items: center;
    span {
        margin-right: 5px;
    }
}