@import "../../../assert/colors.scss";


.radioContainer {
    margin: 10px 0;
    display: grid;
    position: relative;

    label {
        font-weight: 600;
        padding-top: 4px;
    }
}

.requiredSymbol {
    color: $red;
}

.fieldRowContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .actinIconContainer {
        display: flex;
        align-items: flex-end;
        width: 100%;

        >div:first-child {
            width: 100%;
            margin-right: 10px;
        }
    }

    .dragDropIcon {
        .anticon {
            cursor: move;
        }
    }

    span.anticon.disableIcon,
    .dragDropIcon.anticon.disableIcon {
        cursor: not-allowed;
        &:hover {
            background-color: transparent;
        }
    }

    .dragDropIcon.anticon {
        color: $primaryText;
        cursor: move;
    }

    

    span.anticon,
    .dragDropIcon.anticon {
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 8px;
        border-radius: 30px;
        margin-left: 2px;

        &:hover {
            background-color: $greyBackground;
        }
    }

    .datePickerContainer {
        .anticon {
            margin-bottom: 0;
        }
    }

    .iconEdit {
        color: $primaryText;
    }

    .iconDelete {
        color: $errorMsg;
    }
}

// .cancelBtnStyle {
//     background-color: $white;
//     border: 1px solid $primary;
//     margin-right: 10px;
//     &:hover {
//         border-color: $primaryHover;
//         color: $primaryText;
//     }
// }

.modelBtnfooter {
    text-align: right;
    margin-top: 10px;
    button {
        width: 100px;
    }
}