@import "../../assert/colors.scss";

.jobPost {
    background-color: $greyBackground;
    padding-bottom: 20px;

    .cardContainer {
        width: 950px;
        background-color: $white;
        margin: 20px auto 0;

        .subTitle {
            color: $primaryText;
            font-size: 24px;
        }
    }

    .categoryRowContainer {
        display: flex;
        width: 100%;
        > div {
            width: 50%;
        }
        .inputContainer {
            margin-right: 20px;
        }

        .jobType {
            margin: 10px 0 10px 20px;

            .checkboxContainer {
                display: flex;
                white-space: nowrap;
                flex-wrap: wrap;
            }
        }
    }

    .fieldLabel {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0 8px 0;

        .requiredSymbol {
            color: $red;
        }
    }

}

.steps {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;

    span {
        margin: 6px 20px 0;
        display: block;
    }
}

.activeSteps {
    border-bottom: 3px solid $primary;
    padding-bottom: 5px;
}

.otherLocation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    .inputCheckbox {
        min-width: 200px;
        padding: 4px 0;
    }
}

.application {
    border-bottom: 1px solid $greyBackground;
    .or {
    margin-top: 20px;
        span {
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            background-color: $white;
            width: 32px;
            text-align: center;
        }
    }
}

.applicantBtn {
    margin-top: 20px;
    height: 40px;
    padding: 0 20px;
}

.description {
    margin-top: 20px;
    .trix-button-group--file-tools {
        display: none;
    }
    trix-editor {
        min-height: 300px;
        max-height: 600px;
        overflow-y: scroll;    
    }
}

.aboutCompany {
    margin-top: 50px;
    .aboutCompanyInputContainer {
        display: flex;
        >div {
            width: 50%;
            &:first-child {
                margin-right: 20px;
            }
            &:last-child {
                margin-left: 20px;
            }
        }
    }
}
