@import "../../assert/colors.scss";

.ant-modal-wrap {
    overflow-y: hidden !important;
}

.createFormModal {
    top: 30px !important;
    .ant-modal-content .ant-modal-body {
        padding: 0 24px;
        height: calc(100vh - 12rem);
    }
}

.questionContainer {
    overflow-y: scroll;
    height: calc(100vh - 16.2rem);
    padding: 0 20px 10px;
    .textAreaContainer {
        margin: 0;
    }
    .fields {
        display: flex;
        align-items: flex-end;

        >div {
            &:first-child {
                width: 40%;
                margin-right: 10px;
            }

            &:nth-child(2) {
                width: 40%;
                margin-right: 10px;
            }
        }

        button {
            width: 20%;
            // height: 38px;
            margin-bottom: 10px;
            position: relative;
            bottom: 2px;
        }
    }

    .textAreaFixedHeight {
        textarea {
            height: 70px;
        }
    }

    .customForm {
        margin-top: 10px;
        border-top: 1px solid $fieldBackground;
        padding-top: 10px;

        .inputContainer label {
            padding: 0;
        }

        textarea {
            height: 100px;
        }

        .previewSubtitle {
            color: $primaryText;
            text-align: center;
            margin: 0;
            font-size: 18px;
            font-weight: 600;
        }

        input,
        textarea,
        select {
            cursor: not-allowed;
        }
    }

    .fieldOption {
        textarea {
            height: 70px;
        }
    }

    .cancelBtnStyle {
        background-color: $white;
        border: 2px solid $primary;
        margin-right: 10px;
        height: 36px;
        transition: 0.3s;
        &:hover {
            border-color: $primaryHover;
            color: $primaryText;
        }
    }
}

.templateOption {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    label {
        margin-right: 30px;
    }
}

.horizontal-line {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $greyBackground;
}

.create-form-err-msg {
    color: $errorMsg;

    span {
        margin-right: 5px;
    }
}