@import "../../assert/colors.scss";

.createFormModal {
    .ant-modal-content .ant-modal-body {
        padding-top: 0;
    }
}

.questionContainer {
    .fields {
        display: flex;
        align-items: flex-end;

        >div {
            &:first-child {
                width: 40%;
                margin-right: 10px;
            }

            &:nth-child(2) {
                width: 40%;
                margin-right: 10px;
            }
        }

        button {
            width: 20%;
            height: 38px;
            margin-bottom: 10px;
            position: relative;
            bottom: 2px;
        }
    }

    .textAreaFixedHeight {
        textarea {
            height: 100px;
        }
    }

    .customForm {
        margin-top: 20px;
        border-top: 1px solid #e8e8e8;
        padding-top: 20px;

        .inputContainer label {
            padding: 0;
        }

        textarea {
            height: 100px;
        }

        .previewSubtitle {
            color: $primaryText;
            text-align: center;
            margin: 0;
            font-size: 18px;
            font-weight: 600;
        }

        input,
        textarea,
        select {
            cursor: not-allowed;
        }
    }

    .fieldOption {
        textarea {
            height: 70px;
        }
    }

    .cancelBtnStyle {
        background-color: $white;
        border: 1px solid $primary;
        margin-right: 10px;
        &:hover {
            border-color: $primaryHover;
            color: $primaryText;
        }
    }
}