@import "../../assert/colors.scss";

.headerStyle {
    height: 64px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 13px -3px #d2d2d2;
}

.title {
    // color: $primary;
}

.headerBtn {
    > button {
        padding: 0 15px;
        &:first-child {
        margin-right: 10px;
    }
}
}