@import "../../assert/colors.scss";

.inputContainer {
    margin: 10px 0;
    display: grid;
    label {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0 8px 0;
    }
    input {
        height: 45px;
        border: 2px solid #d7d7d7;
        background-color: #f0f0f0;
        font-size: 16px;
        border-radius: 4px;
        padding: 0 10px;
        &:focus-visible {
            outline-color: $primaryText;
        }
    }
}

.requiredSymbol {
    color: $red;
}