@import "./assert/colors.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-modal-footer {
  .ant-btn {
    font-weight: 600;
    border-radius: 20px;
    height: 32px;
    cursor: pointer;
    padding: 0 20px;
    color: $black;
    border-style: none;
    text-shadow: none;
  }
  .ant-btn-primary {
    background-color: $primary;
    &:hover, &:active, &:focus {
        background: $primaryHover;
        color: $black;
    }
  }
  .ant-btn-default {
    background-color: $white;
    border: 2px solid $primary;
    transition: 0.3s;
    &:hover {
      border-color: $primaryHover;
      color: $primaryText;
  }
  }
}